//cfss custom scss

$cfss-black-1: #00000080;
$cfss-black-2: #282b2e;
$cfss-black-3: #32383e;
$cfss-black-4: #373839;
$cfss-black-5: #0000006b;
$cfss-black-6: #00000014;
$cfss-black-8: #00000038;
$cfss-black-9: #2c2c70;



$cfss-white: #ffffff;
$cfss-white-1: #f1f1f1;
$cfss-white-2: #e6e6e6;
$cfss-white-3: #f0f0fb;
$cfss-white-4: #f0f8ff;
$cfss-white-5: #dadeff;
$cfss-white-6: #e7f4ff;
$cfss-white-7: #eef3fc;
$cfss-white-8: #e9ebec;
$cfss-white-9: #eff2f7;
$cfss-white-10: #f0f0f0;
$cfss-white-11: #d7d7d7;
$cfss-white-12: #eeeeee;
$cfss-white-13: #e2e2e2;


$cfss-gray-1: #d1c9f1;
$cfss-gray-2: #e5ecf4;
$cfss-gray-3: #adadc7;
$cfss-gray-4: #666666;
$cfss-gray-5: #555555;
$cfss-gray-6: #212529;
$cfss-gray-7: #32383e;
$cfss-gray-8: #a2adb7;
$cfss-gray-9: #b0c4de;
$cfss-gray-10: #949494;
$cfss-gray-11: #b3b3ff;


$cfss-teal-1: #0ab39c;
$cfss-teal-2: #1bc07b;


$cfss-green-1: #16bb6e;
$cfss-green-2: #198754;
$cfss-green-3: #19875440;


$cfss-blue-1: #405189;
$cfss-blue-2: #7575f5;
$cfss-blue-3: #4747a1;
$cfss-blue-4: #2c2c70;
$cfss-blue-5: #1e90ff;
$cfss-blue-6: #3721e1;
$cfss-blue-7: #4b38b3;
$cfss-blue-8: #5e5ecb;
$cfss-blue-9: #0275d8;
$cfss-blue-10: #0275d880;


$cfss-violet-1: #a78eff;
$cfss-violet-2: #b7a5f7;


$cfss-red: #ff0000;
$cfss-red-1: #ff3b49;
$cfss-red-2: #dc3545;
$cfss-red-3: #f06548;
$cfss-red-4: #deb0b0;
$cfss-red-5: #ff1e1e;
$cfss-red-6: #b4262e;
$cfss-red-7: #c82430;
$cfss-red-8: #ff3b49b3;

