

<div class="summary-container">
  <h2>Personal Information</h2>
  <p><span>First Name:</span> {{ formData.firstName }}</p>
  <p><span>Last Name:</span> {{ formData.lastName }}</p>

  <h2>Address Information</h2>
  <p><span>Street:</span> {{ addressFormData.street }}</p>
  <p><span>City:</span> {{ addressFormData.city }}</p>
  <p><span>State:</span> {{ addressFormData.state }}</p>

  <h2>Account Information</h2>
  <p><span>Email:</span> {{ accountFormData.email }}</p>
  <p><span>Password:</span> {{ accountFormData.password }}</p>
</div>

