<div class="form-container">
  <form [formGroup]="userForm">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input id="firstName" type="text" formControlName="firstName" />
      <div
        *ngIf="
          userForm.get('firstName')?.invalid &&
          userForm.get('firstName')?.touched
        "
      >
        First Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input id="lastName" type="text" formControlName="lastName" />
      <div
        *ngIf="
          userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched
        "
      >
        Last Name is required.
      </div>
    </div>

  </form>
</div>
