<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <!-- {{currentYear}} {{appName}} v {{ appVersion}}. -->
                © {{currentYear}} {{appName}} | Version: {{ appVersion}} | Best viewed in 1920 X 1080 in Chrome.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Powered by emsyne
                </div>
            </div>
        </div>
    </div>
</footer>