@import "./assets/scss/config/material/cfss-custom";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/* You can add global styles to this file, and also import other style files */

//Disable Box SHadow for all buttons
.btn {
  box-shadow: none !important;
}

.header-item button:active {
  background: none !important;
  color: #737373 !important;
}

// .bg-card-hd-clr {
//   background-color: $cfss-blue-3;
// }

// Swiper
.coverflowslide .slide {
  position: relative;
  transition: transform 0.3s;
}

.coverflowslide .slick-list {
  overflow: hidden !important;
}

.coverflowslide .slick-center {
  transform: scale(1.2); // Adjust the scale factor for the "Coverflow" effect
  z-index: 1;
}

.coverflowslide .carousel {
  width: 100%;
  max-width: 600px; // Adjust the carousel width as needed
  margin: 0 auto;
}

.navbar-menu .navbar-nav .nav-link {
  cursor: pointer !important;
}

.btn-success,
.btn-danger,
.btn-primary {
  margin: 0;
  padding: 5px 10px !important;
}

/** style for loader */
.loader {
  margin: auto;
  border: 5px solid $cfss-gray-2;
  border-radius: 50%;
  border-top: 5px solid $cfss-teal-2;
  width: 25px;
  height: 25px;
  animation: spinner 1s linear infinite;
}

/** style for loader info */
.loader-info {
  text-align: center;
  font-size: 12px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.cdk-global-overlay-wrapper {
  background-color: $cfss-black-1;
  /* justify-content: center; */
  /* align-items: center; */
  display: flex;
  top: 0rem;
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  z-index: 999;
  height: 100%;
}

.video-container img {
  width: 100% !important;
  max-height: 450px;
}


.space .slick-slide {
  margin: 10px;
}

#notificationItemsTabContent {
  .avatar-title {
    height: 30px !important;
    width: 30px !important;
  }
}

[data-bs-theme="dark"] {
  .fc {
    .fc-multimonth-daygrid {
      background: $cfss-gray-6 !important;
    }

    .fc-day-disabled {
      background: $cfss-black-2 !important;
    }

    .fc-multimonth {
      border-color: $cfss-gray-7 !important;
    }
  }
}

// .bg-card-hd-clr {
//   background-color: $cfss-blue-3;
// }  

.btn {
  --vz-btn-padding-y: 0.63rem !important;
}

// datepicker style start
.datePicker {
  label {
    position: absolute;
    padding: 0px 10px !important;
    // color: $cfss-blue-4 !important;
    // font-size: 13px !important;
    // transform: translateY(9%) !important;
    // left: 0 !important;
    // width: 100% !important;
    // height: 50% !important;
    // z-index: 2 !important;
    // outline: none;
  }

  /*
  .datePicker {
    label {
      padding: 0px 10px !important;
      color:$cfss-blue-4!important;
      font-size: 13px;
      position: absolute !important;      
      left: 0 !important;
      width: 100% !important;
      height: 50% !important;
      z-index: 10 !important;
      
      transform: translateY(-20%) !important;
    }
*/

  input {
    border: 1px solid $cfss-gray-1 !important;
    padding-top: 1.2rem; //9px;
    padding-left: 9px;
    height: calc(2.5rem + 2px);
    min-height: calc(2.5rem + 2px);
    line-height: 2;
    border-radius: 0.25rem;
    width: -webkit-fill-available;
    width: -moz-available;
    outline: none;
  }

  input.is-invalid {
    border-color: var(--vz-form-invalid-border-color) !important;
  }

  .date-class {
    padding: 1.2rem 0 0 0.5rem !important;
  }


}

// datepicker style end

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: $cfss-white-2;
}

.custom-day.range,
.custom-day:hover {
  background-color: $cfss-blue-9;
  color: $cfss-white;
}

.custom-day.faded {
  background-color: $cfss-blue-10;
}

.z-10 {
  z-index: 10;
}

.image-respnsv {
  width: 7%;
  height: auto;
}

/*gopi new ng form select start*/

.form-floating {
  position: relative;
}

.form-select {
  border: 1px solid $cfss-gray-1;
  padding: 0;
}

.form-select.is-invalid:not([multiple]):not([size]) {
  padding-right: 0px;
}

.ng-select .ng-select-container:hover {
  box-shadow: none;
}

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
  border-color: $cfss-violet-1 !important;
  box-shadow: none !important;
}

// .ng-select { 
//   padding: 0.15rem !important;
// }

.ng-select.ng-select-single .ng-select-container {
  border: none !important;
  padding-top: 5px;
}

.ng-select .ng-select-container {
  background-color: var(--vz-input-bg-custom);
  border-color: $cfss-white !important;
  color: var(--vz-body-color);
}

// .ng-select .ng-clear-wrapper .ng-clear {
//   display: none !important;
// }


//Sajeev style starts
// .ng-select.ng-select-disabled>.ng-select-container {
//   background-color: $cfss-white-3;
// }

.ng-select.ng-select-disabled .ng-arrow-wrapper {
  display: none;
}

.ng-select.is-invalid:not(.ng-has-value)>.ng-select-container {
  border-color: $cfss-red-2 !important;
  box-shadow: none !important;
}

.flatpickr-months {
  background-color: $cfss-blue-3;
}

.flatpickr-weekdays {
  background-color: $cfss-blue-3;
}

// .ng-select.ng-invalid > .ng-select-container {
//   border-color: $cfss-red-2 !important;
//   box-shadow: none !important;
// }

//Sajeev style ends

ng-select {
  outline: none;

  ~label {
    opacity: 0.65; //.65
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
    z-index: 1 !important;
    //padding-top: 0.85rem !important;
  }

  &:focus .ng-select-container {
    border-color: $cfss-violet-1;
    outline: 0;
  }

  &.is-valid .ng-select-container {
    border-color: $cfss-green-2 !important;
  }

  &.is-valid.ng-select-focused .ng-select-container {
    box-shadow: 0 0 0 0.25rem $cfss-green-3;
  }

  .is-invalid {
    .ng-select-container {
      border-color: $cfss-red-2 !important;
    }
  }

  &.is-invalid.ng-select-focused .ng-select-container {
    box-shadow: none; //0 0 0 0.25rem rgb(220 53 69 / 25%);
  }
}

.ng-select.ng-select-single .ng-select-container,
.ng-select.ng-select-multiple .ng-select-container {
  //border: none !important;
  height: calc(2.5rem + 2px);
  min-height: calc(2.5rem + 2px);
  line-height: 2;
  border: 1px solid $cfss-gray-1 !important;
  //padding-top: 15px !important;
}

// .ng-select .ng-select-container {
//   background-color: var(--vz-input-bg-custom);
//   border-color: $cfss-white !important;
//   color: var(--vz-body-color);

//   // .ng-value-container .ng-input>input {
//   //   //padding-top: 10px !important;
//   // }

//   &.hover {
//     box-shadow: none;
//   }
// }

.autocomplete-custom {
  label {
    position: absolute !important;
    top: 0 !important;
    color: rgba(var(--vz-body-color-rgb), .65) !important;
    font-size: 13px !important;
    opacity: 1.9 !important;
    margin-left: calc(var(--vz-border-width)* -1) !important;
    border: var(--vz-border-width) solid transparent !important;
    font-weight: 500 !important;
    margin-bottom: .5rem !important;
  }
}

.autocomplete-container .input-container {
  height: calc(2.5rem + 2px);
  min-height: calc(2.5rem + 2px);
  line-height: 2;
}

.autocomplete-container .input-container input {
  height: calc(2.5rem + 2px);
  min-height: calc(2.5rem + 2px);
  line-height: 36px !important;
  padding: 17px 15px 0px 9px !important;
  font-size: inherit !important;
}

// .autocomplete-container .input-container input:disabled {
//   background-color: $gray-200 !important;
//   color: $cfss-gray-4;
// }
.autocomplete-overlay {
  position: absolute !important;
}

.ng-dropdown-panel {
  background-color: white !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  font-size: 0.7em !important;
  margin-bottom: 0px !important;
  // border: 1px solid $cfss-gray-1 !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
  flex-wrap: nowrap !important;
}

.custom-dataDable-showMargin {
  margin-top: 7px;
}

// .flatpickr-months {
//   background-color: $cfss-blue-3;
// }

// .flatpickr-weekdays {
//   background-color: $cfss-blue-3;
// }

span.flatpickr-weekday {
  background: $cfss-blue-3;
}

.grd-ttle-bg {
  background-color: $cfss-white-4;
}

.grd-hdr-clr1 {
  background-color: $cfss-blue-3;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.table {
  border-color: $cfss-white-5;
}

.table>thead {
  border-color: $cfss-white-5;
  background-color: $cfss-white-6
    /* $cfss-white-4*/
  ;
}

.active>.page-link,
.page-link.active {
  background-color: $cfss-blue-3;
  border-color: $cfss-blue-3;
}

/*gopi ng form select end*/

// input {
//   ~label {
//     opacity: .65;
//     font-size: 13px;
//     font-weight: 400;
//     transform: translateY(-20%) !important;
//     padding-left: .65rem !important;
//   }
// }

ng-autocomplete {
  ~label {
    opacity: .65; //.65
    font-size: 13px !important;
    font-weight: 400 !important;
    transform: translateY(4%) !important;
    padding-left: .65rem !important;
    color: $cfss-blue-4 !important;
  }
}

input[type=checkbox] {
  ~label {
    opacity: .65; //.65
    font-size: 13px;
    font-weight: 400;
    transform: translateY(0%) !important;
    padding-left: 0rem !important;
  }
}


//bobby sir code start

input {
  ~label {
    opacity: .65; //.65
    font-size: 13px;
    font-weight: 400;
    transform: translateY(-18%) !important;
    padding-left: .6rem !important;

  }

  ~label::after {
    opacity: .65; //.65
    font-size: 13px;
    font-weight: 400;
    // transform: translateY(-18%) !important;
    // padding-left: .65rem !important;
    background-color: transparent !important;
  }

  ~label:focus {
    opacity: .65; //.65
    font-size: 13px;
    font-weight: 400;
    transform: translateY(-18%) !important;
    padding-left: .65rem !important;

    background-color: transparent !important;
  }

  input .form-control .ng-pristine .ng-invalid .ng-touched {
    inset: 1rem .45rem !important;
  }

}

.ng-select.ng-select-opened .ng-select-container {
  z-index: 0 !important;
}

//for multi select checkbox with label align  start
.ng-select div,
.ng-select input,
.ng-select span {
  box-sizing: border-box;
  // vertical-align: text-top !important;
}


.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-child {
  position: relative;
  font-size: .8125rem;
  //padding: 0.55rem 1.2rem 0.45rem 16px !important;
}

//for multi select checkbox with label align  end

.ng-select {
  input {
    padding-top: 10px !important;
  }
}

//ng-select select all background color start
.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-marked {
  background-color: $cfss-white-6 !important;
}

//dropdown list top space issue fix start 
.ng-dropdown-panel .ng-dropdown-panel-items {
  margin-top: 0px !important;
}

// .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
//   padding: 7px 16px;
//   padding-top: 10px !important;
//   margin-top: -15px;
// }

// style changes in customer module
// for image uplaod and employee details section
.link-photo {
  .form-floating>label {
    padding: 5px !important;
  }

  .form-floating>.form-control,
  .form-floating>.form-control-plaintext {
    padding-left: 6px !important;
  }
}


//dropdown list top space issue fix end 

.form-floating>label {
  padding: 0.6rem 0.6rem !important;
  z-index: 0 !important;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext {
  padding-left: 0.6rem !important;
}

//by Bobby for ng select span
// .ng-value.ng-star-inserted {
//   height: 20px;
// }
.ng-value.ng-star-inserted {
  // padding: 0 0 5px 0;
  //line-height: 8px;
  margin-top: 15px;
}


.mat-mdc-tooltip-trigger.ng-value.ng-star-inserted {
  padding: 0 2px 0 2px;
  //line-height: 8px;
  //margin-top: 11px;
  //height: 18px;
}

// .ng-autocomplete~label {
//   z-index: 4 !important;
// }

.autocomplete-container.active {
  z-index: 3 !important;
}

.autocomplete-container .suggestions-container ul li a {
  padding: 4px 10px !important;
}

// For auto-complete validation message position |start
.autocomplete-container .not-found div {
  padding: 0 !important;
  font-size: .95em !important;
  top: 42px !important;
  border: none !important;
  letter-spacing: 0.001rem !important;
}

.autocomplete-container .not-found {
  border: none !important;
}

// For auto-complete validation message position |End
// ngb-datepicker-navigation {
//   background-color: $cfss-blue-3 !important;
// }

.ngb-dp-navigation-chevron {
  color: $cfss-white !important;
}


.ngb-dp-header {
  border-bottom: 0;
  border-radius: 0.25rem 0.25rem 0 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem !important;
  background-color: $cfss-blue-3 !important;
}

.ngb-datepicker-navigation-select>.form-select {
  flex: 1 1 auto;
  padding: 0 0.5rem;
  font-size: .875rem;
  height: 1.85rem;
  margin-right: 3px !important;
}

ngb-datepicker.dropdown-menu.show.ng-star-inserted {
  position: absolute !important;
  z-index: 1;
}

.is-invalid .ng-select-container.ng-has-value {
  //border: 1px solid red !important;
  border-color: var(--vz-form-invalid-border-color) !important;
}

//mat-mdc-tooltip-trigger ng-value ng-star-inserted

input.ng-untouched.ng-pristine.ng-valid:focus {
  border: 1px solid $cfss-violet-1 !important;
}


ng-autocomplete.is-invalid .autocomplete-container input {
  border-color: var(--vz-form-invalid-border-color) !important;
}

//bobby machine by gopi start
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  z-index: 5 !important;
}

.autocomplete-container {
  height: 42px !important;
}

ng-select.ng-select-multiple.ng-select-searchable.ng-select-clearable.ng-select.ng-pristine.ng-invalid.is-invalid.ng-touched>.ng-select-container {
  border: 1px solid $cfss-red-3 !important;
}

.ng-select-multiple {
  .ng-dropdown-panel .ng-dropdown-panel-items {
    margin-top: 0px;
  }
}

//bobby machine by gopi end

ng-autocomplete {
  ~app-error-messages {
    ~label {
      opacity: .65; //.65
      font-size: 13px;
      font-weight: 400;
      transform: translateY(10%) !important;
      padding-left: .6rem !important;
    }
  }
}

.required-field::after {
  content: " *";
  font-weight: 900;
  color: var(--vz-danger);
  padding-left: 0px !important;
}

.mandatoryInput::after {
  content: "*";
  display: inline-block;
  color: $cfss-red;
  position: absolute !important;
  font-weight: 900;
  font-size: 16px;
  padding-left: 2px;
}

/*
  content: "*";
  display: inline-block;
  color: var(--vz-danger); //red;
  position: relative;
  font-weight: 900;
  //font-size: 14px;
  margin-left: 5px;
  //left:5px
  */

//data table goto page textbox |aravind
.gotoPageTxt {
  border: 1px solid $cfss-gray-1;
  border-radius: var(--vz-card-border-radius);
  outline: 0;
  width: 40px;
  text-align: center;
}

// datatable show entries style
.showEntryStyle {
  background-color: aliceblue;
  min-height: 35px;
  border: 1px solid #dadeff;
  border-top: 0;
}

//may be use later
// .ng-clear-wrapper {
//   display: block !important;
// }

// .ng-clear {
//   background-color: transparent;
//   color: $cfss-gray-5 !important;
// }

.menu-bg {
  background: url('../src/assets/images/right-bg-black.png') !important;
  background-position: left top;
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
}

//for handling ng select dropdown scroll issue
.ng-select.ng-select-single .ng-select-container .ng-value-container {
  overflow: hidden !important;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid $cfss-violet-2 !important;
}

//for browser support 
.prodSchemeDeatils {
  width: -webkit-fill-available;
  width: -moz-available;
}


.table>thead {
  border-color: $cfss-white-5 !important;
}

.table {
  border-color: $cfss-white-5 !important;
}



//for disable background color

.autocomplete-container .input-container input:disabled {
  background-color: $cfss-white-7 !important;

}

.autocomplete-container .input-container label:disabled {
  color: $cfss-blue-4 !important;
}

.ng-select.ng-select-disabled>.ng-select-container {
  background-color: $cfss-white-7 !important;
}

.ng-select.ng-select-disabled>.ng-select-container label:disabled {
  color: $cfss-blue-4 !important;
}

.form-control:disabled {
  background-color: $cfss-white-7 !important;
}

.form-floating>:disabled~label,
.form-floating>.form-control:disabled~label {
  color: $cfss-blue-4 !important;
}

.datePicker input:disabled {
  background-color: $cfss-white-7 !important;
  color: $cfss-blue-4 !important;
}

//icon size change | aravind start
.ri-add-line {
  font-size: 20px !important;
}

.ri-search-2-line {
  font-size: 20px !important;
}

.ri-format-clear {
  font-size: 20px !important;
}

.btn-warning {
  padding: 5px 10px !important;
}

.ri-save-line {
  font-size: 20px !important;
}

.ri-add-circle-line {
  font-size: 20px !important;
}

.mdi-file-check {
  font-size: 20px !important;
}

.mdi-update {
  font-size: 20px !important;
}

.ri-close-circle-line {
  font-size: 20px !important;
}

.ri-arrow-right-s-line {
  font-size: 20px !important;
}

.ri-arrow-left-s-line {
  font-size: 20px !important;
}

.mdi-playlist-remove {
  font-size: 20px !important;
}

.ri-file-upload-line {
  font-size: 20px !important;
}

.mdi-attachment {
  font-size: 20px !important;
}

.mdi-blur-off {
  font-size: 20px !important;
}

.mdi-flip-to-back {
  font-size: 20px !important;
}


.btn-success {
  display: flex !important;
  align-items: center !important;
}

.ri-arrow-left-line {
  font-size: 20px !important;
}

//icon size change | aravind end

//side menu and ng-select z-index issue fix start
.ng-dropdown-panel {
  z-index: 6 !important;
}

//side menu and ng-select z-index issue fix end

//non-mandatory error-text color
.non-mandatory-text {
  color: $cfss-black-9
}

//Close button for modal
.modalClose {
  color: #ffffff;
  font-size: 1.21875rem;
}

.col-sm-12 {
  padding: 0px !important;
}

.autocomplete-custom {

  // Select the parent only if it has a child with class 'active' within '.ng-autocomplete'
  &:has(.ng-autocomplete .active) {
    label {
      z-index: 3 !important;
    }
  }
}

.swal-custom-title {
  padding: 5px 0 0 0 !important;
}

.swal-custom-popup {
  padding: 0 !important;
}

.swal-custom-html {
  margin: 0 !important;
}

/**---- Home button styles start---*/
.flBtn {
  position: fixed;
  z-index: 1000;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
}

.flBtn ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  position: absolute;
  visibility: hidden;
}

.flBtn input {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.flBtn input:checked~ul {
  visibility: visible;
}

.flBtn input:checked~ul li {
  visibility: visible;
  opacity: 1;
}

.flBtn input:hover+a {
  color: #fff;
  background: #28287d;
}

.flBtn input:hover+a[tooltip]:before {
  visibility: visible;
  opacity: 1;
}

.flBtn a {
  position: relative;
  z-index: 2;
  display: block;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background: #4747a1;
  border-radius: 50px;
  color: #ffffff;
  transition: background 0.5s;
  -o-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -webkit-transition: background 0.5s;
}

.flBtn a:hover {
  color: #fff;
  background: #28287d;
}

.flBtn ul li {
  display: inline-block;
  margin: 5px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.flBtn [tooltip]:before {
  position: absolute;
  content: attr(tooltip);
  visibility: hidden;
  opacity: 0;
  padding: 0 10px;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  transition: all 0.5s;
}

.flBtn [tooltip]:hover:before {
  visibility: visible;
  opacity: 1;
}

.flBtn-size-medium a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
}

.flBtn-size-medium ul a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}

.flBtn-size-medium [tooltip]:before {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

.flBtn-position-br {
  bottom: 43px;
  right: 26px;
}

.flBtn-position-br [tooltip][data-role]:before {
  right: 100%;
  bottom: 100%;
}

.flBtn-position-br .flBtn-first {
  right: 50%;
  transform: translateX(50%);
  bottom: 100%;
}

.flBtn-position-br .flBtn-first [tooltip]:before {
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 5px;
}

.flBtn-position-br .flBtn-second {
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  right: 100%;
}

.flBtn-position-br .flBtn-second [tooltip]:before {
  right: 100%;
  bottom: 100%;
  margin-bottom: 5px;
}

/**Logout color change */
.dropdown-item:hover .icon-color {
  color: red !important;
}

/** Push Notification*/
@keyframes toster {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.toaster-wraper {
  height: auto !important;
  width: 400px !important;
  position: fixed !important;
  right: -10px !important;
  bottom: 260px !important;
  animation: toster 1s !important;
}

/**Page header icons */

.pr-btn {
  padding-right: 0px;
  left: 35px;
}

.info-icon {
  margin-bottom: 5px;
}

.footerBgColor {
  background-color: #e7f4ff;
  border: 1px solid #dadeff;
  border-top: 0;
}

.roleFooter {
  padding-left: 9.4px !important;
  padding-bottom: 10px !important;
  border: 0px !important;
}

// Currency input directive styles

.form-floating>.currency-input-padding {
  padding-left: 1.3rem !important;
}

.currency-symbol {
  position: absolute;
  top: 19px;
  left: 11px;
  color: $cfss-gray-4;
}

.loader-table {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.shepherd-close:not(:disabled):hover {
  background: #f06548 !important;
  color: #ffffff;
}

.shepered-previous:not(:disabled):hover {
  background: #4735a9 !important;
  color: #fff;
}


// For Data-table bottom scroll
.dataTables_wrapper {
  padding: 0 !important;

  .row {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-default-outline:focus {
  box-shadow: 0 0 0 2px rgba(100, 150, 200, .5) !important;
}

// For multi-select values overlapping issue - start
.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  flex-wrap: nowrap !important;
  width: 70%;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value:nth-child(2) {
  width: 70%;
  max-width: 250px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value:nth-child(3) {
  width: 20%;
  max-width: 60px;
  min-width: 40px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
  width: 85%;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.right {
  width: 15%;
  text-align: center;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  white-space: unset !important;
}
// For multi-select values overlapping issue - end 

//data table minimum height-start
.short-content {
  margin-bottom: 150px !important;
}
.em-table-side{
  border :.01px solid #dadeff; 
  border-bottom: 0px;
}
//data table minimum height-end


// address card style in address details
.addressList-card {
  label {
    opacity: 1 !important;
    border: 0 !important;
    box-shadow: 0px 0px 7px #bcbcd7 !important;
    background: linear-gradient(160deg, rgba(255,255,255,1) 40%, rgba(199,255,215,1) 100%) !important;

    i {
      color: #212529 !important;
    }
  }

  .ribbon-two-primary {
    span {
      color: white !important;
      font-weight: 500 !important;
    }
  }
  
  .fw-semibold {
    color: #4b38b3 !important;
  }
  
  .border-top {
    border-top: 2px solid #2da72d !important;
  }
}
.file-upload-tooltip {
  transform: translateY(-29px) translateX(4px) !important;
}
