<!-- <ng-container *ngIf="data$ | async as data">
  <ol>
    <ng-container
      *ngFor="let label of data.labels; let i = index; let last = last"
    >
      <li
        [class.done]="i < data.stepIndex"
        [class.active]="i === data.stepIndex"
        [class.done]="i < data.stepIndex"
      >
       
        <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path *ngIf="i < data.stepIndex" d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
            <text *ngIf="i >= data.stepIndex" x="6" y="11">{{ i + 1}}</text>
          </svg>
        <h3>
          <ng-template [ngTemplateOutlet]="label"></ng-template>
        </h3>
      </li>
      <li *ngIf="!last" class="spacer"></li>
    </ng-container>
  </ol>
</ng-container>

<div class="content">
  <ng-content></ng-content>
</div> -->

<ol>
  <ng-container *ngFor="let label of labels; let i = index; let last = last">
    <li [class.done]="i < stepIndex" [class.active]="i === stepIndex">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
        />
        <path
          *ngIf="i < stepIndex"
          d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"
        />
        <text *ngIf="i >= stepIndex" x="6" y="11">{{ i + 1 }}</text>
      </svg>
      <h3>
        <!-- <ng-template [ngTemplateOutlet]="label"></ng-template> -->.
        {{ label }}
      </h3>
    </li>
    <li *ngIf="!last" class="spacer"></li>
  </ng-container>
</ol>

<div class="content">
  <!-- <ng-content></ng-content> -->
  <router-outlet ></router-outlet>
</div>

<div class="button-container">
  <button type="button" (click)="prev()">Previous</button>
  <button type="submit" (click)="next()">Next</button>
</div>
